html,body{
	height: 100%;
}


div{
	float:left;
	display: block;
}

.head{
	display: block;
	height:20%;
	width:100%;
	background:#ff3;
}

#logo{
	float: right;
	height: 50%;
	width: 10%;
	margin: 10px;
	margin-top: -30px;
}

.body{
	float: left;
	height:70%;
	width:100%;
	background:rgba(255,0,0,.2);
}

.bl{
	display: block;
	height: 100%;
	width: 20%;
}

.bl div{
	margin: 2%;
	margin-bottom: 1%;
	float: left;
	display: block;
	height: 47%;
	width:96%;
	background:#875;
}

#blh{
	background:green;
}

.bc{
	display: block;
	height: 100%;
	width: 60%;
	background-color: rgba(255,255,0,.2);
}

.br{
	display: block;
	height: 100%;
	width: 20%;
}


.food{
	height: 10%;
	width: 100%;
	background:#000;
	color:#789;
}
